body{
	font-family:arial;
	font-size:18px;
	background:#e06076;	
}

.logo{
	margin: 30px auto !important;
    max-width: 150px;
    box-sizing: border-box;
    border-radius: 500px;
    background: #ffffff;
    padding: 30px 0px;
}
.logo img{
	width:100%;	
}

h2{
	font-weight:bold;
	font-size:25px;
	color:#ffffff;
	text-align:center;
}

.first{
	box-sizing:border-box;
}

.second{
	box-sizing:border-box;

}

.hide{
	display:none;
}


button#start{
	background:#ffffff;
	color:#e06076;
	font-weight:bold;
	padding:10px 15px;
	font-size:30px;
	text-align:center;
	width:100%;
	border:none;
	border-radius:20px;
}

button#login{
	background:#ffffff;
	color:#e06076;
	font-weight:bold;
	padding:10px 15px;
	font-size:20px;
	text-align:center;
	width:150px;
	border:none;
	border-radius:5px;
	margin-top:15px;
}

.footer{
	position:absolute;
	text-align: center;
	bottom:0px;
	left:0px;
	right:0px;
	height:70px;
}

button#videos{
	background:#ffffff;
	color:#e06076;
	font-weight:bold;
	padding:10px 15px;
	font-size:20px;
	text-align:center;
	width:260px;
	border:none;
	border-radius:5px;
	margin:auto !important;
}

#welcome{
	font-size:25px;
	color:#ffffff;
	line-height:30px;
	margin-top:30px;
	display:none;
}

#welcome span{
	color:#ffffff;
	font-size:16px;
}

#welcome #password{
	background:#ffffff;
	color:#e06076;
	font-size:16px;
	padding:10px;
	width:250px;
}