body{
	font-family:arial;
	font-size:18px;
	background:#e06076;
	box-sizing: border-box;
	padding:0px;
	margin:0px;
	color:#888888 !important;
}
:focus {
	outline: none !important;
}

.circle-loader {
  margin-bottom: 3.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 9em;
  height: 9em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;
}
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
    opacity: 1;
    height: 4.5em;
    width: 2.05em;
    transform-origin: left top;
    border-right: 3px solid #5cb85c;
    border-top: 3px solid #5cb85c;
    content: '';
    left: 2.15em;
    top: 4.5em;
    position: absolute;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 2.05em;
    opacity: 1;
  }
  40% {
    height: 4.5em;
    width: 2.05em;
    opacity: 1;
  }
  100% {
    height: 4.5em;
    width: 2.05em;
    opacity: 1;
  }
}

.logo{
	margin: 30px auto !important;
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    border-radius: 500px;
    background: #ffffff;
    padding: 20px 0px;
    position: relative;
    overflow-x:visible;
    overflow-y:hidden;
}
.logo img{
	position: absolute;
    left: -20px;
    bottom: -65px;
    width: 150px;
}

a.close{
    display: block;
    float: right;
    text-decoration: none;
    font-size: 45px;
    font-weight: normal;
    color: #e06076;
    position: absolute;
    top: 7px;
    right: 15px;
    z-index: 4;
}

.screen{
	background:#ffffff;
	position:fixed;
	top:0;
	bottom:0;
	width:100%;
	border-top:5px solid #e06076;
	box-sizing: border-box;
	padding:0px;
	margin:0px;
	z-index:1;
	transition:.3s top;
	-webkit-transition:.3s top;
	transition-timing-function: ease-in-out;
	-webkit-transition-timing-function: ease-in-out;
}

.container-wrapper{
	position:absolute;
	top:65px;
	bottom:0px;
	right:0px;
	left:0px;
	overflow-y:scroll;
}

.container{
	float:left;
	width:100%;
	padding:10px 30px;
	box-sizing: border-box;
}

.scan-page{
	z-index:3;
}

.scan-page .ok-wrapper, .scan-page .not-ok-wrapper{
	width:100%;
	text-align:center;
	margin-top: 60px;
}

.scan-page .ok-wrapper h4{
	text-align:center;
	font-size:22px;
	line-height:28px;
	color:green;
	margin:30px 10px;
	visibility:hidden;
}
.scan-page .not-ok-wrapper h4{
	text-align:center;
	font-size:22px;
	line-height:28px;
	color:red;
	margin:30px 10px;
	visibility:hidden;
}

.welcome{
	background:#e06076 !important;
}

.welcome-title{
	font-weight:bold;
	font-size:25px;
	color:#ffffff;
	text-align:center;
	box-sizing: border-box;
}

.form-label{
	display:block;
	float:left;
	width:100%;
}

.member-list{
	width:100%;
	padding:0px;	
	overflow-x:auto;
	overflow-y:hidden;
	box-sizing: border-box;
	margin-bottom:30px;
}

.member-list .member-wrapper{
	white-space:nowrap;
	padding:10px 0px;
	box-sizing: border-box;
	/*width:900px;*/
}

.member-list .member{
	width:150px;
	border-radius:100px;
	margin-right:20px;
	box-sizing: border-box;
	float:left;
	background:#efefef;
}

.member-chosen{
	background:#e06076 !important;
	color:#ffffff !important;
}

.member a{
	color:#666666;
}

.member-chosen a{
	color:#ffffff !important;
	text-decoration:none !important;
}

.member-list .member span{
	display:block;
	float:right;
	width:110px;
	box-sizing: border-box;
	padding:8px;
	font-weight:bold;
	font-size:21px;
}

.member-list .member img{
	display:block;
	float:left;	
	width:40px;	
	border-radius:50px;
}

.ball{
	display:block;
	float:left;	
	width:40px;	
	height:40px;	
	border-radius:50px;
	background:#999999;	
}

.square{
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    background: #999999;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}

.square i{
	font-size: 70px;
    color: #dddddd;
}

.login-error{
	margin-top:20px;
	color:red;
	font-size:18px;
	line-height:24px;
}

.login #password{
	background: #ffffff;
    color: #e06076;
    font-size: 16px;
    padding: 10px;
    width: 92%;
    border: 3px solid #e06076;
    float: left;
    margin: 20px 0px;
    border-radius: 50px;
}

.member-page #avatar{
	text-align:center;
	margin:30px 0px 0px 0px;
}

.member-page #avatar img{
	width:110px;
	border-radius:300px;
}

/*
.members .tabs{
	box-sizing:border-box;
	margin:0;
	float:left;
    width: 100%;
    overflow:hidden;
}

.members .tabs a{
	display:block;
	background:#ffffff;
	border:1px solid #eeeeee;
	color:#777777;
	box-sizing:border-box;
	padding:10px 20px;
	width:33.33%;
	text-align:center;
	text-decoration:none !important;
	float:left;
}
.members .tabs a:hover, .members .tabs a.active{
	color:#ffffff !important;
	background:#e06076;
	border:1px solid #e06076;
}
*/

.members-page .friends{
	box-sizing:border-box;
	float:left;
	width:100%;
	padding:0;
}

.members-page .members .member{
	float: left;
    width: 95%;
    margin: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 1px 2px 3px #cccccc;
    border-radius: 6px;
}

.members-page .members .member img{
	width:100px;
	float:left;
	border-radius: 5px;
}

.members-page .members .member span.title{
	display:block;
	float:left;
	margin-left: 20px;
	font-weight:bold;
	font-size:22px;
	width:60%;
	box-sizing: border-box;
}

.members-page .members .member span.year{
	display:block;
	float:left;
	margin-left: 20px;
	font-weight:normal;
	font-size:18px;
	width:60%;
	box-sizing: border-box;
}

.members-page .members .member a{
	position:absolute;
	text-decoration:none;
	display:block;
	right:20px;
	color:#ffffff;
	padding:5px 10px;
	background:#e06076;
	border-radius:5px;
}

.friends-page .friends{
	box-sizing:border-box;
	float:left;
	width:100%;
	padding:0;
}

.friends-page .friends .friend{
	float: left;
    width: 95%;
    margin: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 1px 2px 3px #cccccc;
    border-radius: 6px;
}

.friends-page .friends .friend img{
	width:100px;
	float:left;
	border-radius: 5px;
}

.friends-page .friends .friend span.title{
	display:block;
	float:left;
	margin-left: 20px;
	font-weight:bold;
	font-size:22px;
	width:60%;
	box-sizing: border-box;
}

.friends-page .friends .friend span.year{
	display:block;
	float:left;
	margin-left: 20px;
	font-weight:normal;
	font-size:18px;
	width:60%;
	box-sizing: border-box;
}

.friends-page .friends .friend a{
	position:absolute;
	text-decoration:none;
	display:block;
	right:20px;
	color:#ffffff;
	padding:5px 10px;
	background:#e06076;
	border-radius:5px;
}

.rules-page ol{
	margin-left:-10px;
}
.rules-page ol li{
	font-size:18px;
	line-height:28px;
	margin-bottom: 10px;
}

.camera-page .camera{
	width:100%;
}

.camera-page .camera #qr-capture{
	width:100%;
	height:500px;
}

.hide{
	display:none !important;
}

.screen-hide{
	top:1000px !important;
}

.screen-show{
	top:0px !important;
}

.screen-title{
	float: left;
    position: relative;
    width: 100%;
    padding: 0px 0px 15px 20px;
    box-sizing: border-box;
    background: #ffffff;
    color: #e06076;
    font-size: 25px;
    margin-bottom:0px;
    border-bottom: 1px solid #cccccc;
    z-index: 1;
}


.pri-butt{
	background: #ffffff;
    color: #e06076;
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    border: none;
    display: block;
    margin: auto;
    border-radius: 30px;
    box-sizing: border-box;
}

.sec-butt,.qrcode-butt{
	background:#e06076;
	color:#ffffff;
    font-weight: bold;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    border: none;
    display: block;
    margin: auto;
    border-radius: 30px;
    box-sizing: border-box;
}

#qr{
	display:none;
}

.hide{
	display:none !important;
}

.footer{
	position:absolute;
	text-align: center;
	bottom:0px;
	left:0px;
	right:0px;
	height:70px;
}

.mask {
	display: none;
    z-index: 9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    box-sizing: border-box;
    padding: 50px;
}

@media screen and (min-width:500px){
	.mask{
		display:block !important;
	}
}

@media screen and (max-width:390px){
	.friends-page .friends .friend img, .members-page .members .member img, .square{
		width:80px !important;
		height:80px !important;
	}
	.square i {
	    font-size: 50px;
	}	
}