body{
  background:#ffffff;
  padding:0px;
  margin:0px;
}

.gs-result{
  display:block;
  position:relative;
  float:left;
  width:100%;
  box-sizing: border-box;
  padding:0;
}

.gsc-webResult .gsc-result {
    margin: 0 !important;
    padding: 1em 0 !important;
    border-bottom: 1px solid transparent !important;
}

.gs-res-right{
  vertical-align:top;
  float:left;
}

.gs-res-right{
  width:100%;
}

.gs-title,.gs-snippet,.gs-visibleUrl{
  word-wrap: break-word !important;
}

.gs-image-box{
  float:left;
  margin-right:10px;
}
.gs-web-image-box img.gs-image, .gs-promotion-image-box img.gs-promotion-image{
  max-width:90px !important;
}

.sbox{
  width:100%;
  padding:0px;
  margin:0px;
  background:#ffffff;
}

.sbox form{
  border:none;
  width:100%;
  padding:0px;
  margin:0px;
  box-sizing:border-box;
  position:relative;
}

.sbox .left{
  float:left;
  width:90%;
}
.sbox .right{
  float:left;
  width:10%;
}

.sbox .right a{
  display:none;
  text-decoration:none;
  color:#dddddd;
  font-size:20px;
}
.sbox input[type=text]{
  border:1 px solid #eeeeee;
  padding:10px 5px;
}