body{
  background:#ffffff;
  padding:0px;
  margin:0px;
}
.twitter-typeahead{
  width:92%;
  float:left;
}
.tt-menu{
  width:109%;
  z-index: 999;
  background:#ffffff;
  border:1px solid #e1e1e1;
  margin-left: -1px;
}
.tt-cursor{
  background:#eeeeee;
}
.tt-suggestion{
  padding:5px 10px;
  font-size:15px;
  color:#555555;
}
.backhome, .backhome:hover{
  font-family: 'Righteous', cursive;
  font-size: 40px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  position: absolute;
  z-index:100;
}
.mainlogo, .mainlogo:hover{
  font-family: 'Righteous', cursive;
  font-size: 80px;
  color:#73c20e;
  text-decoration: none;
  display: block;
  margin:10px auto;
  text-align:center;
  /*text-shadow: 0px 2px 1px #888888;*/
}
.start{
  position:relative;
  /*background:#eeeeee;*/
  background: #abbaab;
  background: -webkit-linear-gradient(to left, #abbaab , #ffffff);
  background: linear-gradient(to left, #abbaab , #ffffff);
  z-index:9999;
  border-top:2px solid #73c20e;
  overflow-y:scroll;
  width:100%;
  height:100%;
}
.start_wrap{
  margin:0 auto;
  margin-top: 6%;
  max-width: 650px;
}
#scout_start{
    float:left;
    width:100%;
    background:#ffffff;
    padding:0px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}
#scout_start .query{
  border:none;
  width:100%;
  float:left;
  padding: 10px;
  font-size: 16px;
  color:#666666;
}
#scout_start .query:focus{
  outline: none;
}
#scout_start a{
  display:none;
  text-decoration: none;
  color: #333333;
  width: 8%;
  float: left;
  font-size: 20px;
  margin-top: 10px;
  text-align:right;
  padding-right: 12px;
}
.start_wrap p{
  margin-top: 50px;
  font-size: 16px;
}
.start_wrap ol li{
  line-height: 32px;
  font-size: 16px;
  color: #777777;
  letter-spacing: 1px;
}
.start_wrap ol{
  padding-left: 20px;
}
.start_wrap ol li a{
  color:#777777; 
}
.start_wrap ol li a:hover{
  color:#999999; 
  text-decoration:underline;
}
.res_header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  z-index:999;
  display:none;
  background:#93cc4b;
  min-height:60px;
}
.res_clearance{
  display:none;
  clear:both;
  height:60px;
}
#scout_sform{
  float:left;
  margin-top:9px;
  max-width:600px;
  width:98%;
  background:#ffffff;
  padding:0px;
  box-sizing: border-box;
}
#scout_sform .query{
  border:none;
  width:100%;
  float:left;
  padding:10px;
  font-size:16px;
  color:#666666;
}
#scout_sform .query:focus{
  outline: none;
}
#scout_sform a{
  display:none;
  text-decoration: none;
  color: #333333;
  width: 8%;
  float: left;
  font-size: 20px;
  margin-top: 6px;
  display: block;
  text-align:right;
  padding-right:12px;
}

/* Auto-complete style */
.auto_wrap{
  width:100%;
  padding:0;
  margin:0;
  clear: both;
  box-sizing:border-box;
}
.auto_shortcut{
  padding: 7px 9px;
  display: block;
  float:left;
  width:15%;
}
.auto_hint{
  padding: 7px 9px;
  display: block;
  float:left;
  width:85%;
  font-size:12px;
  color:#999999;
}
.auto_keyword{
  padding: 7px 9px;
  display: block;
}

/* Info screens */
.info-screen-fuzzy{
  background: #56ab2f;
  background: -webkit-linear-gradient(to left, #56ab2f , #a8e063);
  background: linear-gradient(to left, #56ab2f , #a8e063);
}
.info-screen-shortcuts{
  background: #FFB75E;
  background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03);
  background: linear-gradient(to left, #FFB75E , #ED8F03);
}
.info-screen{
  width:100%;
  padding:0;  
  min-height:650px;
}
.info-screen h2{
  color:#ffffff;
  font-size:50px;
}
.info-screen p{
  color:#ffffff;
  font-size:21px;
  font-weight: lighter;
}
.info-wrapper{
  padding:30px;
  max-width:980px;
  width:100%;
  margin:auto;
  text-align:center;
}




/* End info screens */

.serps{
  display:none;
}

.serp-wrapper{
  padding:20px 0px;
  max-width:600px;
  width:100%;
}

.gs-result{
  display:block;
  position:relative;
  float:left;
  width:100%;
  box-sizing: border-box;
  padding:0;
}

.gsc-webResult .gsc-result {
    margin: 0 !important;
    border-bottom: 1px solid transparent !important;
    padding: 1.0em 0 !important;
}

.gs-res-right{
  vertical-align:top;
  float:left;
}

.gs-res-right{
  width:100%;
}

.gs-title,.gs-snippet,.gs-visibleUrl{
  word-wrap: break-word !important;
}

.gs-image-box{
  float:left;
  margin-right:10px;
}
.gs-web-image-box img.gs-image, .gs-promotion-image-box img.gs-promotion-image{
  max-width:90px !important;
}

.gsc-cursor-page{
  display:inline-block;
  padding:3px 8px;
  background:#73c20e;
  color:#ffffff !important;
  text-decoration:none !important;
}

.gsc-cursor-page:hover{
  background:#777777;
}

.gsc-cursor-current-page{
  background:#555555;
}

.gsc-adBlock,.gcsc-branding{
  display:none !important;
}

.gs-bidi-start-align {
    text-align: center;
    margin-top: 30px;
}

.gsc-results .gsc-cursor-box {
    margin-bottom: 20px;
    margin-top: 30px;
    text-align:center !important;
}

.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title *{
  color:#333333 !important;
}
.gs-snippet{
  color:#444444 !important;
}

.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl{
  color:#73c20e !important; 
}

.gs-browse-store{
  color:#2729c1 !important;
}

.gs-browse-store:hover{
 text-decoration:underline;
}

.gs-store-browse{
  color:#386be4 !important;
}


.gs-mobile-store,
.gs-broadband-store,
.gs-tv-store,
.gs-hubbing-store,
.gs-vertical-promo,
.gs-generic-promo,
.gs-generic-store
{
  margin-top:8px;
}

@media screen and (max-width:767px){
  .backhome, .backhome:hover{
    margin-top:10px;
    font-size:35px;
  }
  .mainlogo, .mainlogo:hover{
    font-size:65px;
  }
}

@media screen and (max-height:650px){
  .info-screen{
    display:none;
  }
}