body{
  background:#ffffff;
  padding:0px;
  margin:0px;
}

.res_header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  z-index:999;
  /*display:none;*/
  background:#73c20e;
}
#starhub_sform{
  margin:7px auto;
  max-width:400px;
  width:100%;
  background:#ffffff;
  padding:0px;
  box-sizing: border-box;
}
#starhub_sform .query{
  border:none;
  width:90%;
  float:left;
}
#starhub_sform .query:focus{
  outline: none;
}
#starhub_sform a{
  text-decoration:none;
  color:#333333;
  width:10%;
  float:left;
}

.gs-result{
  display:block;
  position:relative;
  float:left;
  width:100%;
  box-sizing: border-box;
  padding:0;
}

.gsc-webResult .gsc-result {
    margin: 0 !important;
    border-bottom: 1px solid transparent !important;
}

.gs-res-right{
  vertical-align:top;
  float:left;
}

.gs-res-right{
  width:100%;
}

.gs-title,.gs-snippet,.gs-visibleUrl{
  word-wrap: break-word !important;
}

.gs-image-box{
  float:left;
  margin-right:10px;
}
.gs-web-image-box img.gs-image, .gs-promotion-image-box img.gs-promotion-image{
  max-width:90px !important;
}

.gsc-cursor-page{
  display:inline-block;
  padding:3px 8px;
  background:#73c20e;
  color:#ffffff !important;
  text-decoration:none !important;
}

.gsc-cursor-page:hover{
  background:#777777;
}

.gsc-cursor-current-page{
  background:#555555;
}

.gsc-adBlock{
  /*display:none !important;*/
}

.gs-bidi-start-align {
    text-align: center;
    margin-top: 30px;
}

.gsc-results .gsc-cursor-box {
    margin-bottom: 20px;
    margin-top: 30px;
    text-align:center !important;
}

.gs-mobile-store,
.gs-broadband-store,
.gs-tv-store,
.gs-hubbing-store,
.gs-vertical-promo,
.gs-generic-promo,
.gs-generic-store
{
  margin-top:8px;
}