body{
  background:#f7f7f7;
  padding:0px;
  margin:0px;
}

.main{
  position:relative;
  margin:0;
  padding:0;
  border-top:5px solid #73c20e;
}

.gs-web-image-box img.gs-image, .gs-promotion-image-box img.gs-promotion-image{
  max-width:90px !important;
  max-height:90px !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page{
  text-decoration:none !important;
}

.gsc-cursor-page{
    background: #4ca72a;
    width: 25px;
    padding: 4px 0px;
    display: inline-block !important;
    vertical-align: middle;
    color: #ffffff !important;
    text-align: center;
    text-decoration: none;
}
.gsc-cursor-current-page{
  background:#ffffff !important;
  color:#4ca72a !important;
}

.gsc-results .gsc-cursor-box {
    margin-bottom: 10px;
    margin-top: 30px;
}

.sbox{
  width:100%;
  max-width:450px;
  border-radius:4px;
  border:1px solid #aaaaaa;
  background:#ffffff;
  margin:auto;
  margin-top:20%;
  padding:2px;
}

.sbox form input[type=text]{
  border:none;
  padding:5px;
  width:100%;
}
.sbox form input[type=text]:focus{
    outline: none;
}
.gsc-adBlock{
  display:none;
}
.serps{
  width:100%;
  background:#ffffff;
  min-height:800px;
}
.result-item{
  width:100%;
  padding:0;
  margin:0;
  position:relative;
  overflow:hidden;
  margin-left:-14px;
}
.result-left{
  float:left;
  margin-right:15px;
}
.result-right{
  float:left;
}