body{
  background:#ffffff;
  padding:0px;
  margin:0px;
}
.twitter-typeahead{
  width:88%;
  float:left;
}
.tt-menu{
  width:114%;
  z-index: 999;
  background:#ffffff;
  border:1px solid #e1e1e1;
}
.tt-cursor{
  background:#eeeeee;
}
.tt-suggestion{
  padding:5px 10px;
  font-size:16px;
  color:#333333;
}
.backhome, .backhome:hover{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  display: block;
  margin-top: 14px;
  margin-right: 10px;
  position: absolute;
  right: 5px;
}
.start{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#eeeeee;
  z-index:9999;
  border-top:5px solid #73c20e;
  overflow-y:scroll;
}
.start_wrap{
  margin:0 auto;
  margin-top: 9%;
  max-width: 500px;
}
#starhub_start{
    float:left;
    width:100%;
    background:#ffffff;
    padding:0px;
    box-sizing: border-box;
}
#starhub_start .query{
  border:none;
  width:88%;
  float:left;
  padding:10px;
  padding: 15px;
  font-size: 20px;
}
#starhub_start .query:focus{
  outline: none;
}
#starhub_start a{
  display:none;
  text-decoration: none;
  color: #333333;
  width: 12%;
  float: left;
  font-size: 25px;
  margin-top: 10px;
  text-align:center;
}
.start_wrap p{
  margin-top: 50px;
  font-size: 16px;
}
.start_wrap ol li{
  line-height: 32px;
  font-size: 16px;
  color: #777777;
  letter-spacing: 1px;
}
.start_wrap ol{
  padding-left: 20px;
}
.start_wrap ol li a{
  color:#777777; 
}
.start_wrap ol li a:hover{
  color:#999999; 
  text-decoration:underline;
}
.res_header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  z-index:999;
  display:none;
  background:#73c20e;
  min-height:60px;
}
.res_clearance{
  display:none;
  clear:both;
  height:60px;
}
#starhub_sform{
  float:left;
  margin-top:9px;
  max-width:500px;
  width:100%;
  background:#ffffff;
  padding:0px;
  box-sizing: border-box;
}
#starhub_sform .query{
  border:none;
  width:88%;
  float:left;
  padding:10px;
  font-size:16px;
}
#starhub_sform .query:focus{
  outline: none;
}
#starhub_sform a{
  display:none;
  text-decoration: none;
  color: #333333;
  width: 12%;
  float: left;
  font-size: 20px;
  margin-top: 6px;
  display: block;
  text-align:center;
}

.gs-result{
  display:block;
  position:relative;
  float:left;
  width:100%;
  box-sizing: border-box;
  padding:0;
}

.gsc-webResult .gsc-result {
    margin: 0 !important;
    border-bottom: 1px solid transparent !important;
    padding: 1.0em 0 !important;
}

.gs-res-right{
  vertical-align:top;
  float:left;
}

.gs-res-right{
  width:100%;
}

.gs-title,.gs-snippet,.gs-visibleUrl{
  word-wrap: break-word !important;
}

.gs-image-box{
  float:left;
  margin-right:10px;
}
.gs-web-image-box img.gs-image, .gs-promotion-image-box img.gs-promotion-image{
  max-width:90px !important;
}

.gsc-cursor-page{
  display:inline-block;
  padding:3px 8px;
  background:#73c20e;
  color:#ffffff !important;
  text-decoration:none !important;
}

.gsc-cursor-page:hover{
  background:#777777;
}

.gsc-cursor-current-page{
  background:#555555;
}

.gsc-adBlock{
  display:none !important;
}

.gs-bidi-start-align {
    text-align: center;
    margin-top: 30px;
}

.gsc-results .gsc-cursor-box {
    margin-bottom: 20px;
    margin-top: 30px;
    text-align:center !important;
}

.gsc-control-cse .gs-spelling, .gsc-control-cse .gs-result .gs-title, .gsc-control-cse .gs-result .gs-title *{
  color:#333333 !important;
}
.gs-snippet{
  color:#444444 !important;
}

.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl{
  color:#73c20e !important; 
}

.gs-browse-store{
  color:#2729c1 !important;
}

.gs-browse-store:hover{
 text-decoration:underline;
}

.gs-mobile-store,
.gs-broadband-store,
.gs-tv-store,
.gs-hubbing-store,
.gs-vertical-promo,
.gs-generic-promo,
.gs-generic-store
{
  margin-top:8px;
}